---
const { id, type, placeholder, icon } = Astro.props;
---

<div class="mb-5">
  <label for={id} class="text-xs font-semibold px-1 text-gris">{placeholder}</label>
  <div class="flex">
    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
      <i class={`${icon} text-gray-400 text-lg`}></i>
    </div>
    <input 
      type={type} 
      id={id} 
      class="input-field w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 text-gris" 
      placeholder={placeholder} 
      required 
    />
  </div>
</div>
